[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geometries"]
	path = geometries
	url = https://github.com/dcooley/geometries
[submodule "sfheaders"]
	path = sfheaders
	url = https://github.com/dcooley/sfheaders
